@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html {
  block-size: 100%;
  inline-size: 100%;
  scroll-behavior: smooth;
  
}

header {
  margin-top: 0px;
  color: white;
  font-size: 100px;
  font-family: Bangers;
    text-align: center;
  margin-bottom: 50px;
  
}

body {
  
  background-image: url("Images/Space for Crash.png");
    box-sizing: border-box;
    display: grid;
    font-family: Bangers;
        font-size: min(200%, 5vmin);
    margin: 0;
  }
  .topnav{
    background:radial-gradient( hsl(273, 98%, 25%),hsl(0, 0%, 0%)) fixed;
    height: 100px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
  
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    font-family: Bangers;
    text-align: center;
    margin-top: 50px;
    height: 100%;
    width: 250px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  
  }
  
  .topnav a:first-child{
    margin-left: 100px;
    margin-top: 10px;
  }
  
  .topnav a:last-child{
    border-right: 0;
    float: right;
    margin-right: 250px;
    margin-top: -5px;
  
  }
  .topnav a.active {
    color: rgba(255, 255, 255, 0.452);
  }
  .topnav a:hover:not(.active) {
    color: rgba(255, 255, 255, 0.452);
  }


.purplebox{
  border-radius: 50px / 50px;
  background:radial-gradient( hsl(273, 98%, 25%),hsl(0, 0%, 0%)) fixed;
  color:#858585;
  margin-bottom: 150px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  opacity: 0;
  transition: all 2s ease;
}

.purplebox.active{
  transform:translateY(0px);
  opacity: 1;
}

#mainInfo{
  margin-top: 150px;
  width: 75%;
  height: 650px;
  border: 15px;
  padding: 50px;
  margin-left: 10%;

}

#Roadmap{
 
  width: 50%;
  padding: 50px;
  text-align: center;
  color: white;
  height: 1500px;
  float: right;
}

.RoadmapListItem{
  opacity: 0;
  transition: all 5s ease;
  margin-bottom: 250px;
  margin-left: 8%;
  list-style-image: url('Images/LogoSmall.png');
  
}
.RoadmapListItem.active{
  opacity: 1;
}



.roadmapKey{
  color:  white;
  width: 100px;
}
.vl {
  border-left: 5px solid #858585;
  height: 90%;
  position: relative;
  left: 10%;
  top: 0;
  border-radius: 10px;
}






#nftPics {
  display: block;
  height: 325px;
  width: 325px;
  border-radius: 50px / 50px;
  float: right;
  margin-right: 100px;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  
  
}



button {
  font-size: 50px;
  border-radius: 50px/50px;
  background: black;
  color: rgb(255, 255, 255);
  border: 0.25rem solid #3f3f3f;
  font-family: Bangers;  position: relative;
  overflow: hidden;
  z-index: 1;

}

button:hover {
  color: white;
  cursor: pointer;
}
button::after {
  content: "";
  background-color: #858585;
  position: absolute;
  display: block;
  z-index: -1;
}
button[class^="grow"]::after {
  transition: all 0.3s ease;
}
button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}
button.grow_box::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
}
button.grow_box:hover::after {
  transform: scale(1, 1);
}

#connectWallet{
  margin-top: 30px;
  margin-left: 30%;
  height: 60px;
  width: 250px;
  font-size: 20px;
  background-color: black;
  color: white;
  
}

#mintButton {
  position: relative;
  margin-top: 20px;
  height: 100px;
  width: 200px;
  margin-left: 21%;

}



.launchText {
  font-size: 1em;
  float: left;
  margin-left: -30px;
  list-style-type: none;
  padding: 1em;
  text-align: center;
  font-family: Bangers;  
  
}

li span {
  display: block;
  font-size: 35px;
  background: black;
  width: 100px;
  height: 50px;
  color: white;
  border-radius: 25px;
  padding-top: 15px;
  margin-top: -15px;
}

#FAQ{
  background: black;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
#FAQ header{
  border-bottom: 1px solid white;

}
.FAQs{
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid white;
  list-style-type: none;
  margin-left: 25%;
  width: 50%;
  color: white;
}
.FAQs a{
  opacity: 1;
  transition: all 2s ease;
  color:#858585;

}
.FAQs a.hidden{
  opacity: 0;
  transition: all 2s ease;

}


.ctrl {
float: right;
position: relative;
margin-top: 150px;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  border: 0.25rem solid #3f3f3f;
  overflow: hidden;
  font-size: 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.ctrl__counter {
  position: relative;
  width: 200px;
  height: 100px;
  color: white;
  text-align: center;
  overflow: hidden;
  
}

.ctrl__counter.is-input .ctrl__counter-num {
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter.is-input .ctrl__counter-input {
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-input {
  user-select: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 100px;
  user-select: none;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-num.is-increment-hide {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-animation: increment-prev 100ms ease-in;
  animation: increment-prev 100ms ease-in;
}

.ctrl__counter-num.is-increment-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: increment-next 100ms ease-out;
  animation: increment-next 100ms ease-out;
}

.ctrl__counter-num.is-decrement-hide {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-animation: decrement-prev 100ms ease-in;
  animation: decrement-prev 100ms ease-in;
}

.ctrl__counter-num.is-decrement-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: decrement-next 100ms ease-out;
  animation: decrement-next 100ms ease-out;
}

.ctrl__button {
  user-select: none;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: #000000;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
  
}

.ctrl__button:hover {
  background-color: #858585;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl__button:active {
  background-color: #000000;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl__button--decrement { border-radius: 5px 0 0 5px; }

.ctrl__button--increment { border-radius: 0 5px 5px 0; }
 @-webkit-keyframes 
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
 @keyframes 
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
@-webkit-keyframes 
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}
@keyframes 
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}
@-webkit-keyframes 
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
@keyframes 
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
@-webkit-keyframes 
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}
@keyframes 
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}
