@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html {
  block-size: 100%;
  inline-size: 100%;
  scroll-behavior: smooth;

  
}
@viewport {
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 2.0;
}
header {
  margin-top: 0px;
  color: white;
  font-size: 80px;
  font-family: Russo One;
    text-align: center;
  margin-bottom: 25px;
  letter-spacing: 10px;
  
}
#crashHeader{
  margin-bottom: 0px;
  margin-top: 100px;
}

body {
  
    box-sizing: border-box;
    display: grid;
    font-family: Russo One;
    font-size: min(200%, 5vmin);
    margin: 0;
    
  }

  .container {
    width: 100%;
    height: 5000px;
    background-size: 50%;
    background: url('Images/Space.png') repeat-y repeat-x;
    animation: scroll-anim 25s linear infinite;
    z-index: -1;
    position:fixed;
  }
  
  .container::before {
    content: "";
    width: 100%;
    height: 5000px;
    position: absolute;
    background-size: 50%;
    background: url('Images/Space.png') repeat-x;
    animation: scroll-anim 20s linear infinite;
  }
  
  .container::after {
    content: "";
    width: 100%;
    height: 5000px;
    position: absolute;
    background-size: 50%;
    background: url('Images/Space.png') repeat-x;
    animation: scroll-anim 20s linear infinite;
  }
  
  @keyframes scroll-anim {
    100% {
      background-position: -100% 0;
    }
  }


  .topnav{
    background:black;
    height: 100px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
  
  }

  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    font-family: Russo One;
    text-align: center;
    margin-top: 50px;
    height: 100%;
    width: 8%;
    text-decoration: none;
    font-size: 50%;
    cursor: pointer;
  
  }
  
  .topnav a:first-child{
    padding-left: 4%;
    margin-top: 10px;
    background: black;
    margin-right: 20px;
  }
  
  .topnav a:last-child{
    margin-top: -5px;  
  }
  .topnav a.active {
    color: rgba(255, 255, 255, 0.452);
  }
  .topnav a:hover:not(.active) {
    color: rgba(255, 255, 255, 0.452);
  }
  #crashTopnav a{
    font-size: 18px;
  }
 


.purplebox{
  border-radius: 50px / 50px;
  background:radial-gradient( hsl(273, 98%, 25%),hsl(0, 0%, 0%)) fixed;
  color:#858585;
  margin-bottom: 150px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  opacity: 0;
  transition: all 2s ease;
}
#graph{
  padding: 10px;
  width: 80%;
  height: 500px;
  margin-bottom: 10px;
  background:rgb(1,31,75);
}
#config{
  width: 80%;
  height: 200px;
  margin-bottom: 0px;
  background: rgb(3,57,108);
  display: flex;
}
#launchBox{
  margin-top: 120px;
  margin-bottom: 25px;
  height: 100px;
  background: radial-gradient( hsl(273, 98%, 25%),hsl(59, 100%, 50%)) fixed;
}

.purplebox.active{
  transform:translateY(0px);
  opacity: 1;
}
#collection{
  margin-top: 150px;
  width: 75%;
  height: 100%;
  border: 15px;
  padding: 50px;
  margin-left: 10%;

}

#mainInfo{
  /*margin-top: 150px;*/
  width: 75%;
  height: 75%;
  border: 15px;
  padding: 50px;
  margin-left: 10%;
}

#Roadmap{
 
  width: 100%;
  padding: 0%;
  text-align: center;
  color: black;
  height: 200px;
  float: right;
  background: rgb(255,234,84);
  margin-bottom: 0;
  border-radius: 0;
  margin: 0%;
  margin-top: 0;
  
}

.RoadmapListItem{
  opacity: 0;
  transition: all 2s; 
  list-style: none;
  
}
.RoadmapListItem.active{
  opacity: 1;
}
#roadmapItem1{
  width: 100%;
  padding: 0%;
  text-align: center;
  color: black;
  height: 150px;
  float: right;
  margin-bottom: 0;
  border-radius: 0;
  margin: 0%;
  padding-top: 50px;
  background: rgb(255,203,59);

}
#roadmapItem2{
  width: 100%;
  padding: 0%;
  text-align: center;
  color: black;
  height:  150px;
  float: right;
  margin-bottom: 0;
  border-radius: 0;
  margin: 0%;
  background: rgb(253,170,42);
  line-height: 150px;
}
#roadmapItem3{
  width: 100%;
  padding: 0%;
  text-align: center;
  color: black;
  height:  150px;
  float: right;
  margin-bottom: 0;
  border-radius: 0;
  margin: 0%;
  background: rgb(255,87,87);
  line-height: 150px;

}
#roadmapItem4{
  width: 100%;
  padding: 0%;
  text-align: center;
  color: black;
  height:  150px;
  float: right;
  margin-bottom: 0;
  border-radius: 0;
  margin: 0%;
  background: rgb(253,170,42);
  line-height: 150px;

}
#roadmapItem5{
  width: 100%;
  padding: 0%;
  text-align: center;
  color: black;
  height:  150px;
  float: right;
  margin-bottom: 0;
  border-radius: 0;
  margin: 0%;
  background: rgb(255,203,59);
  line-height: 150px;

}
#roadmapItem6{
  width: 100%;
  padding: 0%;
  text-align: center;
  color: black;
  height:  150px;
  float: right;
  margin-bottom: 0;
  border-radius: 0;
  margin: 0%;
  background: rgb(255,234,84);
  padding-top: 50px;
}


.roadmapKey{
  color:  white;
  width: 100px;
}

#team{
  width: 100%;
  height: 1000px;
  margin: 0px;
  border-radius: 0px;
  display: flex;
  flex-wrap: wrap;
  color: black;
}
#teamTitle{
  height: 250px;
  width: 100%;
  margin: 0px;
  border-radius: 0px;
  background: transparent;
  color: white;
  font-size: 100px;
  text-align: center;
  line-height: 250px;
}

#teammember1{
  background: rgb(174,224,252);
  width: 50%;
  height: 50%;
  margin: 0px;
  text-align: center;
}
#teammember2{
  background: rgb(95,170,251);
  float: right;
  width: 50%;
  height: 50%;
  margin: 0px;
  text-align: center;

}
#teammember3{
  background: rgb(81,112,253);
  width: 50%;
  height: 50%;
  margin: 0px;
  text-align: center;

}
#teammember4{
  background: rgb(69,53,251);
  width: 50%;
  height: 50%;
  margin: 0px;
  text-align: center;

}
#crashTitle{
  height: 250px;
  width: 100%;
  margin: 0px;
  border-radius: 0px;
  background: transparent;
  color: white;
  font-size: 100px;
  text-align: center;
  line-height: 250px;
}
#crashDetails{
    width: 100%;
    height: 900px;
    margin: 0px;
    border-radius: 0px;
    padding-top: 50px;
    text-align: center;
    color: white;
    background: rgb(0,45,51); 
    display: flex;
}
#crashDetailText{
  padding: 5%;
  font-size: 80%;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#crashPicture{
  margin-top: 100px;
  height: 50%;
  width: 35%;
  border-radius: 50px / 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#teamImage{
  height: 250px;
  width: 250px;
  margin-top: 125px;
  border-radius: 50px / 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#nftPics {
  display: block;
  height: 325px;
  width: 325px;
  border-radius: 50px / 50px;
  float: left;
  margin-right: 100px;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  
  
}



button {
  font-size: 50px;
  border-radius: 50px/50px;
  background: black;
  color: rgb(255, 255, 255);
  border: 0.25rem solid #3f3f3f;
  font-family: Russo One;  
  position: relative;
  overflow: hidden;
  z-index: 1;

}

button:hover {
  color: white;
  cursor: pointer;
}
button::after {
  content: "";
  background-color: #858585;
  position: absolute;
  display: block;
  z-index: -1;
}
button[class^="grow"]::after {
  transition: all 0.3s ease;
}
button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}
button.grow_box::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
}
button.grow_box:hover::after {
  transform: scale(1, 1);
}

#bet{
  font-size: 20px;
    left: 5%;
    height: 100px;
    width: 200px;
    top: 50px;
}
#cashout{
  left: 10%;
  font-size: 20px;
  top: 50px;
  height: 100px;
  width: 200px;
}
#betAmount {
  position: relative;
  outline: none;
  resize: none;
  padding: 0;
  margin-left: 20%;
  top: 62px;
  background-color: gray;
  color: black;
  font-family: Russo One;
  border-radius: 10px/10px;
  font-size: 75%;
  height: 60px;
  width: 200px;
  text-align: center;
  line-height: 60px;
  white-space: nowrap;
  overflow:hidden
}
#betAmount::-webkit-input-placeholder {
  color: rgb(59, 55, 55);
}

#otters{
  position: relative;
  outline: none;
  resize: none;
  padding: 0;
  margin-left: 5%;
  top: 62px;
  background-color: gray;
  color: black;
  font-family: Russo One;
  border-radius: 10px/10px;
  font-size: 75%;
  height: 60px;
  line-height: 60px;
  width: 200px;
  text-align: center;
}
#coins{
  padding: 5px;
  position: relative;
  outline: none;
  resize: none;
  margin-left: 5%;
  margin-right: 5%;
  top: 62px;
  background-color: gray;
  color: black;
  font-family: Russo One;
  border-radius: 10px/10px;
  font-size: 75%;
  height: 50px;
  line-height: 50px;
  width: 200px;
  text-align: center;
  white-space: nowrap;
}

#connectWallet{
  float: left;
  margin-left: 50%;
  margin-top: 30px;
  height: 60px;
  width: 100%;
  font-size: 80%;
  background-color: black;
  color: white;
  
}

#mintButton {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
    height: 100px;
    width: 200px;
  float: right;
  
}
.mintCountText{
  font-size: 50px;
  margin-left: 0%;
  opacity: 1;
  color: #858585;
  
  
}
.mintCountTexth{
  display: inline;
  font-size: 50px;
  opacity: 1;
  color:white;
  letter-spacing: 3px;
  
} 

#mintCountText .hidden{
  opacity: 0;
}

#launchText {
  font-size: 1em;
  float: left;
  margin-left: -30px;
  list-style-type: none;
  padding: 1em;
  text-align: center;
  font-family: Russo One;
  color: black; 
  line-height: 50px;
  padding: 0%;
  padding-right: 30px;
  margin: 0%;
}

.launchText {
  font-size: 20px;
  float: left;
  margin-left: 30px;
  padding-right: 30px;
  list-style-type: none;
  text-align: center;
  font-family: Russo One;
  color: black;  
  
}

li span {
  display: block;
  font-size: 35px;
  background: black;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 25px;
  padding-top: 5px;
  margin-top: -5px;
  padding-bottom: 5px;
  line-height: 40px;
}

#FAQ{
  background: black;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  margin-bottom: 0;
}
#FAQ header{
  border-bottom: 1px solid white;

}
.FAQs{
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid white;
  list-style-type: none;
  margin-left: 20%;
  width: 60%;
  color: gray;
  font-size: 20px;
  line-height: 1.5;
}

.FAQlist ::first-line{
  color: white;
  font-size: 27px;
}

#links{
 float: right;
 display: inline;
border: none; 
}
.twitter{
  margin-top:10px;
}
.instagram{
  margin-right: 5%;
}
#twitterTopNav{
  margin-top:-12px;
}
#discordTopNav{
  margin-top:-33px;
}
#instagramTopNav{
  margin-top:-33px;
}

.linkTopNav{
  margin-left: 0;
  margin-top: -25px; 
 
 }

.ctrl {
float: right;
display: inline;

  flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  border: 0.25rem solid #3f3f3f;
  overflow: hidden;
  font-size: 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.ctrl__counter {
  position: relative;
  width: 200px;
  height: 100px;
  color: white;
  text-align: center;
  overflow: hidden;
  
}

.ctrl__counter.is-input .ctrl__counter-num {
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter.is-input .ctrl__counter-input {
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-input {
  user-select: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 100px;
  user-select: none;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-num.is-increment-hide {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-animation: increment-prev 100ms ease-in;
  animation: increment-prev 100ms ease-in;
}

.ctrl__counter-num.is-increment-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: increment-next 100ms ease-out;
  animation: increment-next 100ms ease-out;
}

.ctrl__counter-num.is-decrement-hide {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-animation: decrement-prev 100ms ease-in;
  animation: decrement-prev 100ms ease-in;
}

.ctrl__counter-num.is-decrement-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: decrement-next 100ms ease-out;
  animation: decrement-next 100ms ease-out;
}

.ctrl__button {
  user-select: none;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: #000000;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
  
}

.ctrl__button:hover {
  background-color: #858585;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl__button:active {
  background-color: #000000;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl__button--decrement { border-radius: 5px 0 0 5px; }

.ctrl__button--increment { border-radius: 0 5px 5px 0; }
 @-webkit-keyframes 
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
 @keyframes 
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
@-webkit-keyframes 
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}
@keyframes 
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}
@-webkit-keyframes 
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
@keyframes 
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
@-webkit-keyframes 
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}
@keyframes 
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}
